__pycache__/
.vscode/
*build*
!tests/test_matlab_runtime_build.py
*install*
*dist*
*.egg-info

**/.DS_Store

# Files related to code coverage stats
**/.coverage
htmlcov/

gtwrap/matlab_wrapper/matlab_wrapper.tpl

.python-version
